/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --black: #353535;
  --light-gray: #f2f2f2;
  --dark-gray: #d1d1d1;
  --red: #ff4747;
  --light-red: #ffdada;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /* font-family: 'Libre Baskerville', serif; */
}

body {
  background-color: var(--light-gray);
}

/* Navbar Styling */
nav {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

#web-logo {
  border-radius: 10%;
}

/* Favorite Button */
#fav-container {
  background-color: var(--red);
  border-radius: 10%;
  padding: 0.2rem 0.5rem 0;
}

#fav-container:hover {
  filter: brightness(0.7);
}

#fav-container:active {
  filter: brightness(0.3);
}

/* Create Button */
#create-recipe {
  padding: 0.81rem 0.93rem 0.6rem;
  margin: 0 10px 10px 0;
  background-color: #ffdadaa8;
  border-radius: 50px;
  border: 1px solid var(--black);
  position: fixed;
  bottom: 0;
  right: 0;
}

#create-recipe:hover {
  box-shadow: 0 0 5px grey;
  cursor: pointer;
}

#create-recipe:active {
  background-color: var(--black);
}
