/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --black: #353535;
  --light-gray: #f2f2f2;
  --dark-gray: #d1d1d1;
  --red: #ff4747;
  --light-red: #ffdada;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;

  /* font-family: 'Libre Baskerville', serif; */
}

body {
  background-color: var(--light-gray);
}

/* Navbar Styling */
nav {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

#web-logo {
  width: 30%;
  height: 30%;
  margin-top: 5px;
  border-radius: 50%;
}

/* Favorite Button */
#fav-container {
  background-color: var(--red);
  border-radius: 10%;
  padding: 0.2rem 0.5rem 0;
}

#fav-container:hover {
  filter: brightness(0.7);
}

#fav-container:active {
  filter: brightness(0.3);
}

/* Create Button */
#create-recipe {
  display: block;
  width: 4rem;
  height: 4rem;
  border-width: 0px;
  position: fixed;
  bottom: 50px;
  background-color: transparent;
  right: 50px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

#manual_btn {
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-width: 0px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#webscrapper_btn {
  display: block;
  width: 4rem;
  height: 4rem;
  border-width: 0px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.shift-up-manual {
  animation: fadeIn 0.3s linear forwards;
  margin-right: 5rem;
}

.shift-down-webscrapper {
  animation: fadeOut 0.3s linear forwards;
  margin-right: 0;
}

.shift-down-manual {
  animation: fadeOut 0.3s linear forwards;
  margin-right: 0;
}

.shift-up-webscrapper {
  animation: fadeIn 0.3s linear forwards;
  margin-right: 10rem;
}

.highlight-btn {
  transform: rotate(45deg);
}

@keyframes fadeIn {
  0% { opacity:0; }
  50% { opacity:0.5; } 
  100% { opacity:0.9; } 
}

@keyframes fadeOut {
  0% { opacity:0.9; }
  50% { opacity:0.5; } 
  100% { opacity:0; } 
}
