/* General Element Styling */
img {
    width: 100%;
}

label {
    font-weight: bold;
}

input {
    margin: 0 0.5rem 0 0.5rem;
    border: 1px solid var(--dark-gray);
    padding: 0.2rem 0.2rem;
    border-radius: 5px;
}

body {
    background-color: var(--light-gray) ;
}

fieldset {
    border: none;
}

/* Form Styling */
#recipeForm {
    padding: 3rem 3rem;
    max-width: 60rem;
    margin: 0 auto;
}

#timeContainer {
    display: flex;
    align-items: center;
}

#recipeName, #timeContainer, #recipeIngredients, 
#recipeSteps, #recipeNutrition, #descContainer {
    margin-bottom: 2rem;
}

#descContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#descContainer label {
    margin-bottom: 0.5rem ;
}

#descContainer textarea {
    border-radius: 5px;
}

.ingredientContainer, .stepsContainer, .nutritionContainer {
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
}

#btns {
    display: flex;
    justify-content: flex-end;
}

#createBtn, #cancelBtn {
    border: none;
    color: var(--white);
    border-radius: 5%;
    padding: 0.8rem 1rem;
}

#createBtn {
    background-color: var(--red);
    margin-left: 1rem;
}

#createBtn:hover, #cancelBtn:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

#createBtn:active, #cancelBtn:active {
    filter: brightness(0.3);
}

#cancelBtn {
    background-color: var(--black);
}

.addBtn {
    border: 1px solid var(--dark-gray);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.addBtn:hover {
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
}

.removeBtn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.removeBtn:hover {
    cursor: pointer;
}

.addBtn:active, .removeBtn:active {
    filter: brightness(0.3);
}

@media screen and (min-width: 90em) {
    #recipeForm {
        max-width: 70rem;
        margin: 0 auto;
    }
}







