/* General Element Styling */

img {
  width: 100%;
}
     
label {
  font-weight: bold;
}

input {
  margin: 0 0.5rem;
  border: 1px solid var(--dark-gray);
  padding: 0.2rem;
  border-radius: 5px;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, var(--light-gray), var(--red), var(--light-gray));
  margin-bottom: 1rem;
}

body {
  background-color: var(--light-gray);
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
}

/* Form Styling */

#recipe-form {
  padding: 3rem;
  max-width: 60rem;
  margin: 0 auto;
}

#time-container,
#serve-container {
  display: flex;
  align-items: center;
}

#recipe-name,
#time-container,
#serve-container,
#recipe-ingredients,
#recipe-steps,
#recipe-nutrition,
#desc-container,
#img-container {
  margin-bottom: 1.5rem;
}

#desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#desc-container label {
  margin-bottom: 0.5rem;
}

#desc-container textarea {
  border-radius: 5px;
}

#recipe-desc {
  padding: 5px;
}

.ingredient-container,
.steps-container,
.nutrition-container {
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
}

.no-preview {
  display: none;
}

#preview-img {
  border-radius: 5px;
  margin-top: 1rem;
  width: 468px;
  height: 319.5px;
}

#btns {
  display: flex;
  justify-content: flex-end;
}

#create-btn,
#cancel-btn {
  border: none;
  color: var(--white);
  border-radius: 5%;
  padding: 0.8rem 1rem;
}

#create-btn {
  background-color: var(--red);
  margin-left: 1rem;
}

#create-btn:hover,
#cancel-btn:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

#create-btn:active,
#cancel-btn:active {
  filter: brightness(0.3);
}

#cancel-btn {
  background-color: var(--black);
}

.add-btn {
  border: 1px solid var(--dark-gray);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.add-btn:hover {
  box-shadow: 0 0 5px grey;
  cursor: pointer;
}

.remove-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.remove-btn:hover {
  cursor: pointer;
}

.add-btn:active,
.remove-btn:active {
  filter: brightness(0.3);
}

@media screen and (min-width: 90em) {
  #recipe-form {
    max-width: 70rem;
    margin: 0 auto;
  }
}
