@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

:root {
  --black: #353535;
  --light-gray: #F2F2F2;
  --dark-gray: #D1D1D1;
  --red: #FF4747;
  --light-red: #FFDADA;
  --white: #FFFFFF;
}

body {
  background-color: var(--light-gray);
}

#recipeCards {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 20px;
  margin-bottom: 50px;
  min-height: min-content;
  overflow-x: auto;
  background-color: var(--dark-gray);
  border-style: solid;
  border-radius: 10px;
  border-color: var(--black);
  overflow-y: hidden;
}

#recipeCards::-webkit-scrollbar {    
  display: none;
}

recipe-card{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
  text-align: center;
  transition: transform .2s;
  justify-content: space-around;
}

recipe-card:hover{
  transform: scale(1.1);
}

#favContainer {
  background-color: var(--red);
  border-radius: 10%;
  padding: 0.2rem 0.5rem;
}

#searchQuery {
  width: 90%;
  height: 3em;
  max-width: 600px;
  border-radius: 0px;
  border-width: 1px;
  border-color: var(--dark-gray);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-indent: 1em;
}

*:focus {
  outline-color: var(--light-red);
}

#search {
  height: 3em;
  width: 3em;
  padding-top: 3px;
  object-fit: contain;
  background-color: var(--red);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: solid;
}

#search:hover {
  box-shadow: 0px 0px 5px grey;
  cursor: pointer;
}

#search:active{
  transform: translateX(2px);
}

#searchContainer {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5cm;
  text-align: center;
}

#create-recipe{
  border-style: solid;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: var(--light-gray);
  border:1px solid var(--black);    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
}

#create-recipe:hover{
  box-shadow: 0px 0px 5px grey;
  cursor: pointer;
}

#create-recipe:active{
  background-color: var(--black);
}

h1, input, recipe-card, #search{
  font-family: 'Libre Baskerville', serif;
}

@media screen and (min-width: 90em) {
  #recipeForm {
    max-width: 80rem;
    margin: 0 auto;
  }
}
