#textContainer {
    margin:20px;
    margin-top: 2em;
    padding: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, #ccc, #FF4747, #ccc);
}

#matchedCountText {
    color: gray
}

/* General Element Styling */
body {
    background-color: var(--light-gray) ;
}

/* search bar */
#search-container {
    display: flex;
    width: 50%;
}

#searchBar {
    width: 100%;
    border: none;
    text-indent: 1rem;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-icon {
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    background-color: var(--red);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0.5rem 0.5rem;
}

/* Recipe Card Styling */
#recipeCards {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 20rem));
    justify-content: center;
    gap: 3rem;
    padding: 5rem 5rem;
}

@media screen and (min-width: 90em) {
    #recipeCards {
        grid-template-columns: repeat(4, minmax(auto, 20rem));
        gap: 5rem;
    }
}