#textContainer {
    margin:20px;
    margin-top: 2em;
    padding: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, #ccc, #FF4747, #ccc);
}

#matchedCountText {
    color: gray
}

/* General Element Styling */
img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--light-gray) ;
}

/* Recipe Card Styling */
#recipeCards {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 20rem));
    justify-content: center;
    gap: 3rem;
    /* TODO: set min max gap */
    padding: 5rem 5rem;
}

@media screen and (min-width: 90em) {
    #recipeCards {
        grid-template-columns: repeat(4, minmax(auto, 20rem));
        gap: 5rem;
    }
}