#text-container {
  margin: 20px;
  margin-top: 2em;
  padding: 0;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, var(--light-gray), var(--red), var(--light-gray));
}

#matched-count-text {
  color: gray;
}

/* search bar */
#search-container {
  display: flex;
  width: 50%;
  max-width: 45rem;
}

#search-bar {
  width: 100%;
  border: none;
  text-indent: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;

  /* border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
}

#search-bar:focus {
  outline-color: var(--light-red);
}

#search-icon {
  object-fit: contain;
  background-color: var(--red);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.5rem;
}

#search-icon:hover {
  box-shadow: 0 0 5px grey;
  cursor: pointer;
}

/* Recipe Card Styling */
#recipe-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 20rem));
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

@media screen and (min-width: 90em) {
  #recipe-cards {
    grid-template-columns: repeat(4, minmax(auto, 20rem));
    gap: 5rem;
  }
}